* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
main {
  display: flex;
  width: 80%;
}
.side-nav {
  background-color: aqua;
  width: 40%;
  height: 80vh;
}
.container {
  width: 60%;
  height: 80vh;
  display: flex;
  flex-direction: column;
}
.top {
  width: 100%;
  height: 35%;
  background-color: blue;
}
.mid {
  width: 100%;
  height: 30%;
  background-color: yellow;
}
.bottom {
  width: 100%;
  height: 35%;
  background-color: violet;
}
