* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "handwriting";
  src: url("fonts/journal-webfont.woff2") format("woff2"),
    url("fonts/journal-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "typewriter";
  src: url("fonts/rough_villain_demo-webfont.woff2") format("woff2"),
    url("fonts/rough_villain_demo-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sunday";
  src: url("fonts/please_write_me_a_song-webfont.woff2") format("woff2"),
    url("fonts/please_write_me_a_song-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "typewritter";
  src: url("fonts/momot___-webfont.woff2") format("woff2"),
    url("fonts/momot___-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: rgb(152, 152, 152);
  background: radial-gradient(
    circle,
    rgba(152, 152, 152, 1) 0%,
    rgba(249, 249, 249, 1) 100%
  );
}
main {
  display: flex;
  width: 60%;
}
ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin-top: 20px;
}
li {
  display: flex;
  flex-direction: column;
}
img {
  max-height: 100%;
}
h1 {
  font-size: 5vh;
  font-family: "typewriter";
  margin-top: 10px;
  margin-left: 10px;
}
p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
button {
  padding: 10px 40px;
  border-radius: 5px;
  border: none;
  background-color: #0f6f72;
  color: white;
  margin-bottom: 20px;
  font-size: 20px;
  cursor: pointer;
  font-family: "typewriter";
}
span {
  font-weight: 600;
  color: #0f6f72;
  cursor: pointer;
}
.side-nav {
  background-image: url("a.png");
  background-size: cover;
  background-position: center;
  width: 40%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.logo {
  width: 100%;
  height: 10%;
  background-color: black;
  opacity: 0.4;
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.credit {
  margin-bottom: 10px;
}
.container {
  width: 60%;
  height: 80vh;
  display: flex;
  flex-direction: column;
}
.top,
.mid,
.bottom {
  padding: 40px;
}
.top {
  width: 100%;
  height: 30%;
  background-color: #9ea58e;
}
.top p,
.bottom p {
  margin-top: 20px;
  font-size: 18px;
}

.mid {
  width: 100%;
  height: 40%;
  background-color: #efe8d0;
}
.bottom {
  width: 100%;
  height: 30%;
  background-color: #9ea58e;
}
legend,
input {
  font-family: "sunday";
  font-size: 30px;
}
input {
  border-radius: 5px;
  font-size: 25px;
  width: 100%;
  padding: 0 10px;
}
label {
  font-family: "typewritter";
  font-size: 14px;
}
button:focus {
  outline: none;
  background: #122a34;
}
input:focus {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(16, 112, 116),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
input:required {
  border: 1px solid silver;
}
input:invalid {
  border: 1px solid red;
}

/* Media query for screens larger than 1024px (e.g., large desktops) */
/* Media query for screens smaller than 768px (e.g., mobile devices) */
@media (max-width: 1125px) {
  body {
    font-size: 16px;
  }

  main {
    flex-direction: column;
    width: 60%;
  }

  .side-nav {
    background-size: cover;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    position: relative;
  }

  .container {
    width: 100%;
    height: auto;
  }

  .top,
  .mid,
  .bottom {
    padding: 40px;
  }

  h1 {
    font-size: 4vh;
  }
  .top p,
  legend,
  input,
  .bottom p,
  button {
    font-size: 16px; /* Adjust font size for smaller screens */
  }
  label {
    font-size: 8px;
  }
  .credit {
  }
}
@media (max-width: 500px) {
  ul {
    flex-direction: column;
  }
  input {
    width: 80%;
  }
}
@media (max-height: 880px) {
  .top p,
  legend,
  input,
  .bottom p,
  button {
    font-size: 16px; /* Adjust font size for smaller screens */
  }
  label {
    font-size: 8px;
  }
}
